*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}
body{
    background-image: url("images/world-map.gif"),
                        url("images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: 30%, cover;
    background-position: 929px 223px, 0px -85px;
    z-index: 0 1;
    box-sizing: border-box;
}
.header-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: slategrey;
    font-size: 18px;

}
.logo-area h2{
    font-size: 23px;
}
.logo-area span{
    color: coral;
    text-transform: uppercase;
    font-size: 25px;
}
.menu-area ul{
    display: flex;
    align-items: center;
}
.menu-area ul li{
    list-style: none;
}
.menu-area ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: #FFFF;
    font-weight: 500;
}
.menu-area ul li a:hover{
    color: dimgrey;
}
.social-icon i{
    margin: 0 6px;
    display: inline-block;
    background-color: coral;
    padding: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    align-items: center;

}
.social-icon i:hover{
    color: #FFF;
    background-color: chocolate;
}
.middle-tittle h1{
    color: #FFF;
    margin: 180px 560px;
    font-size: 48px;
    z-index: 2;
    width: 400px;
    display: block;
    text-transform: uppercase;
}
.middle-tittle span{
    color: coral;
}














